<div class="text-center">
    <h1 class="display-4">Client IP address:</h1>
    <p>@ViewData["ClientIpAddress"]</p>
    <h1 class="display-4">Client timezone:</h1>
    <p>@ViewData["ClientTimezone"]</p>
    <h1 class="display-4">Client date:</h1>
    <p>@ViewData["ClientDate"]</p>
</div>